// --------------------- Header Top --------------------- //

.header_top {
  position: relative;
  background: black;
  padding: 25px 0;
  color: white;

  .aside_menu {
    display: none;
  }

  .first_div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .m3_logo {
      height: 2.02vw;
      display: flex;
      padding-left: 7.81vw;
    }

    .search {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.79%;

      input {
        padding-left: 16px;
        width: 20.63vw;
        background: white;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
        display: flex;
        height: 32px;
        border: 0;
        font-size: 1.09vw;

        &::placeholder {
          color: #c4c4c4;
        }
      }

      img {
        cursor: pointer;
        height: 1.41vw;
        display: flex;
        position: absolute;
        right: 16px;
      }
    }

    .header_button {
      display: flex;
      gap: 55px;
      padding-right: 7.81vw;
      height: 28px;

      .button_entrar {
        cursor: pointer;
        justify-content: center;
        text-transform: uppercase;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 1.09vw;
        color: white;
        background: black;
        height: 28px;
        border: 0;
      }

      .cart_button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: black;
        height: 28px;
        border: 0;

        img {
          width: 2.19vw;
        }
      }
    }
  }
}

@media screen and (min-width: 2499px) {
  .header_top {
    .search {
      input {
        height: 57px !important;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header_top {
    .first_div {
      .aside_menu {
        display: flex;
        padding-left: 16px;
        background-color: black;
        border: 0;
      }
    }
    height: 139px;
    .search {
      position: absolute !important;
      bottom: 25px !important;
      left: 16px !important;
      right: 16px !important;
      input {
        width: 100% !important;
        font-size: 14px !important;
        line-height: 16px !important;
      }
      img {
        width: 18px !important;
      }
    }
    .m3_logo {
      width: 236px !important;
      height: 25.86px !important;
      padding: 0 !important;
    }
    .header_button {
      .button_entrar {
        display: none !important;
      }
      .cart_button {
        img {
          position: absolute !important;
          width: 28px !important;
          right: 16px !important;
        }
      }
    }
  }
}

// --------------------- Header Bottom --------------------- //

.header_bottom {
  background: black;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  padding: 14px 0 14px 7.81vw;
  gap: 55px;

  .header_bottom_button {
    background: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.09vw;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .header_bottom {
    display: none;
  }
}
